.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 947px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -44px;
        border: none;
        background-color: $light-color;
        img {
            width: 30px;
            height: 50px;
        }
    }
    .next {
        left: auto;
        right: -44px;
    }
}