.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $dark-color;
    &_left {
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-align: left;
        color: $light-color;
    }
}