@media (max-width: 1200px) {
    .carousel {
        .tns-outer {
            margin: 0 auto;
            width: 887px;
        }
        .prev {
            left: -20px;
        }
        .next {
            right: -20px;
        }
        .tns-item img {
            display: block;
            margin: 0 auto;
            width: 887px;
        }
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 728px;
    }
    .header {
        &__logo {
            width: 202px;
        }
        &__title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 10px;
        }
        &__official {
            font-size: 10px;
            line-height: 10px;
            span {
                font-size: 16px;
                line-height: 16px;
            }
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
        }
    }
    .promo {
        min-height: 500px;
        padding-bottom: 70px;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 36px;
            line-height: 36px;
        }
        &__subheader {
            margin-top: 8px;
            font-size: 20px;
            font-size: 20px;
        }
        &__icons {
            margin-top: 45px;
            width: 330px;
        }
        &__icon {
            width: 92px;
            font-size: 12px;
            line-height: 12px;
        }
        &__link {
            margin-top: 12px;
            font-size: 14px;
            line-height: 14px;
        }
    }
    .title {
        font-size: 26px;
    }
    .features {
        min-height: 400px;
        padding: 50px 0 60px 0;
        &__item {
            margin-top: 40px;
            width: 200px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 16px;
        }
        &__descr {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .consultation {
        min-height: 456px;
        padding: 50px 0 60px 0;
        .title_left {
            line-height: 34px;
        }
        &__descr {
            font-size: 16px;
            line-height: 20px;
        }
        .feed-form input {
            width: 220px;
            height: 36px;
        }
    }
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        .container {
            margin: 0 50px;
        }
        .tns-outer {
            width: 668px;
        }
        .prev {
            left: -40px;
            padding: 0;
        }
        .next {
            right: -40px;
            padding: 0;
        }
        .prev img, .next img {
            height: 30px;
            width: 18px;
        }
        .tns-item img {
            width: 668px;
        }
    }
    .catalog {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        .container {
            margin: 0 60px;
        }
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 200px;
            height: 44px;
            font-size: 16px;
            line-height: 44px;
        }
        &__content {
            margin-top: 45px;
            justify-content: space-around;
        }
    }
    .rewiews {
        &__item {
            margin-top: 46px;
        }
        &__avatar img {
            width: 120px;
        }
        &__name {
            font-size: 16px;
            line-height: 16px;
        }
        &__status {
            font-size: 12px;
            line-height: 18px;    
        }
        &__message {
            margin-top: 12px;
            p {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
    .footer {
        &__info {
            width: 370px;
            height: 200px;
            padding: 36px 42px 36px 42px;
        }
        
        &__addr {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 24px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 28px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 18px;
            }
        }
        &__social {
            width: 180px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .features {
        &__item {
            width: 170px;
        }
    }
    .carousel {
        .container {
            margin: 0 18px;
        }
        .tns-outer {
            width: 540px;
        }
        .prev {
            top: -30px;
            left: 42%;

        }
        .next {
            top: -30px;
            right: 42%;
        }
        .tns-item img {
            width: 540px;
        }
    }
    .catalog {
        .container {
            margin: 0 18px;
        }
    }
    .modal {
        width: 300px;
        min-height: 340px;
        padding: 26px 30px 30px;
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
        .feed-form {
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;
            width: 220px;
            input {
                width: 220px;
                height: 36px;
            }
        }
    }

    @media (max-width: 575px) {
        .container {
            margin: 0 16px;
        }
        .header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__logo {
                margin: 0 auto 20px;
            }
        }
        .promo {
            &__header {
                text-align: center;
                line-height: 44px;
            }
            &__subheader {
                text-align: center;
            }
            &__icons {
                justify-content: center;
                width: 320px;
            }
            &__icon {
                font-size: 11px;
            }
        }
        .features {
            &__wrapper {
                flex-direction: column;
                justify-content: start;
                align-items: center;
            }
            &__item {
                margin-top: 16px;
                width: 100%;
            }
            &__subtitle {
                margin-top: 16px;
            }
            &__descr {
                margin-top: 14px;
            }
        }
        .title {
            font-size: 22px;
            &_left {
                text-align: center;
            }
        }
        .consultation {
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__descr {
                text-align: center;
                font-size: 14px;
            }
            .container {
                display: flex;
            }
            .feed-form {
                align-items: center;
                justify-content: center;
            }
        }
        .carousel {
            .container {
                margin: 0;
            }
            .tns-outer {
                width: 320px;
            }
            .prev {
                top: -30px;
                left: 42%;
    
            }
            .next {
                top: -30px;
                right: 42%;
            }
            .tns-item img {
                width: 320px;
            }
        }
        .catalog {
            &__tabs {
                flex-direction: column;
            }
            &__tab {
                margin-bottom: 16px;
                &:hover {
                    box-shadow: none;
                    border: 2px solid #D0D0D0;
                }
                &_active:hover {
                    border: 2px solid $main-color;
                }
            }
        }
        .rewiews {
            &__item {
                flex-direction: column;
                align-items: center;
            }
            &__content {
                margin-left: 0;
            }
            &__name, &__status {
                text-align: center;
            }
        }
        .footer {
            &__info {
                width: 320px;
            }
        }
        .modal {
            &__close {
                top: 6px;
                right: 6px;
                font-size: 30px;
                line-height: 21px;
            }
        }
    }
}